<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Dashboard - SB Admin</title>
	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
	<link href="~/dash/css/styles.css" rel="stylesheet" />
	<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

	<link rel="stylesheet" type="text/css" href="~/Datatable/datatables.min.css" />

</head>
<body class="sb-na-fixed">

	<div id="layoutSidenav_content">
		<main>
			<div class="container-fluid px-4">
				@if (Session["UserRoles"].ToString() == "Admin")
				{
					<h2 class="text-center text-uppercase mb-2">Admin Dashboard</h2>
				}

				@if (Session["userRoles"].ToString() == "Branch")
				{
					<h3 class="text-center text-uppercase mb-2"> @Session["UserBranchName"] Branch Dashboard</h3>
				}

				<div class="row">
					<div class="col-xl-3 col-md-6">
						<div class="card bg-primary text-white mb-4">
							<div class="card-body text-center">
								Total Employees<br />
								@ViewBag.staff
							</div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="~/Staff/Index">View Details</a>
								<div class="small text-white"><i class="fas fa-angle-right"></i></div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="card bg-success text-white mb-4">
							<div class="card-body text-center">
								Present<br />
								@ViewBag.Present
							</div>

							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="~/StaffCheckInAndOut/Present">View Details</a>
								<div class="small text-white"><i class="fas fa-angle-right"></i></div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="card bg-warning text-white mb-4">
							<div class="card-body text-center">
								Absent<br />
								@ViewBag.TodayAbsent
							</div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="~/Absentees/TodayAbsent">View Details</a>
								<div class="small text-white"><i class="fas fa-angle-right"></i></div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="card bg-danger text-white mb-4">
							<div class="card-body text-center">
								Late Comers<br />
								@ViewBag.LateReport
							</div>
							<div class="card-footer d-flex align-items-center justify-content-between">
								<a class="small text-white stretched-link" href="~/StaffCheckInAndOut/LateEmployees">View Details</a>
								<div class="small text-white"><i class="fas fa-angle-right"></i></div>
							</div>
						</div>
					</div>
				</div>

				<div>

				</div>
			</div>

		</main>

	</div>


	<div class="row mt-5">
		<div class="col-6">
			<div class="card" style="width:80%">
				<canvas id="doughnutChart" class="p-lg-5"></canvas>
			</div>
		</div>


		<div class="col-6">
			@*<div class="card " style="height:50%">
					<canvas id="barChart" style="height:50%" ></canvas>
				</div>*@



			<table class="table table-bordered table-striped" id="example">
				<tr>
					<th>
						@if (Session["userRoles"].ToString() == "Admin")
						{
							<p>Branches</p>
						}

						@if (Session["userRoles"].ToString() == "Branch")
						{
							<p> Departments</p>
						}
					</th>


					<th>Today Present</th>
					<th>Today Absent</th>
				</tr>
				<tbody>

					@foreach (FingerPrint.Models.BranchLog item in ViewBag.TotalBranchEmployee)
					{
						<tr>
							<td>@item.Branch</td>

							<td>@item.StaffPresent</td>

							<td>@item.StaffAbsent</td>
						</tr>
					}

				</tbody>

			</table>

		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

	<script>
		var xDoughnutValues = ["Branches", "Departments", "Users"];
					var yDoughnutValues = [@ViewBag.Branches, @ViewBag.Departments, @ViewBag.Users];
					var doughnutColors = [
						"#b91d47",
						"#00aba9",
						"#2b5797"

					];
					new Chart("doughnutChart", {
					type: "doughnut",
					data: {
							labels: xDoughnutValues,
						datasets: [{
								backgroundColor: doughnutColors,
							data: yDoughnutValues

						}]
                    },
            options: {
					title: {
						display: true,
                    //text: "World Wide mmWine Production 2018"
                }
					}
				});



		//var xValues = ["Food", "Drinks", "Music", "Hall", "Decoration", "Maids", "Mc"];
		//var yValues = [1000000, 200000, 1000000, 740000, 80000, 2000000, 1000000, 34000];
		//var barColors = ["red", "green", "blue", "orange", "brown", "grey", "indigo", "black"];

		//new Chart("barChart", {
		//	type: "bar",
		//	data: {
		//		labels: xValues,
		//		datasets: [{
		//			backgroundColor: barColors,
		//			data: yValues
		//		}]
		//	},
		//	options: {
		//		legend: { display: false },
		//		title: {
		//			display: true,
		//			text: "BUDGET"
		//		}
		//	}
		//});

	</script>
	<script>
		$(document).ready(function () {
			$('#example').DataTable();
		}
	</script>
	<link rel="stylesheet" type="text/css" href="~/Datatable/datatables.min.css" />
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="~/dash/js/scripts.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script src="~/dash/assets/demo/chart-area-demo.js"></script>
	<script src="~/dash/assets/demo/chart-bar-demo.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
	<script src="~/dash/js/datatables-simple-demo.js"></script>
</body>
</html>
