@model FingerPrint.Models.TimeInAndOut

@{
    ViewBag.Title = "Create";
}

<div class="card" style="width:500px; height:350px; margin-left:20%; margin-top:10%">
	<div class="card-header">
		<h2 class="text-center">Edit Time In And Out</h2>
	</div>
	<div class="card-body" >

		@using (Html.BeginForm())
		 {
			@Html.AntiForgeryToken()

			<div class="form-horizontal">
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="row">
					<div class="form-group col-md-6">
						@Html.LabelFor(model => model.Days, htmlAttributes: new { @class = "control-label col-md-" })
						<div class="col-md-10">
							@Html.EnumDropDownListFor(model => model.Days, htmlAttributes: new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group col-md-6">
						@Html.LabelFor(model => model.TimeIn, htmlAttributes: new { @class = "control-label col-md-" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.TimeIn, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.TimeIn, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-md-6">
						@Html.LabelFor(model => model.TimeOut, htmlAttributes: new { @class = "control-label col-md-" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.TimeOut, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.TimeOut, "", new { @class = "text-danger" })
						</div>
					</div>

					<div class="form-group col-md-6">
						@Html.LabelFor(model => model.BranchId, htmlAttributes: new { @class = "control-label col-md-" })
						<div class="col-md-10">
							@Html.DropDownList("BranchId", ViewBag.Branches as SelectList, "Select Branch", new { @class = "form-select" })
							@Html.ValidationMessageFor(model => model.BranchId, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-6">
						@Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-" })
						<div class="col-md-10">
							@Html.DropDownList("DepartmentId", ViewBag.Departments as SelectList, "Select Department", new { @class = "form-select" })
							@Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
			
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Submit" class="btn btn-primary" />
					</div>
				</div>
			</div>
		}

	</div>
</div>
