@model IEnumerable<FingerPrint.Models.TimeInAndOut>

@{
	Layout = "~/Views/Shared/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	    
	<div class="card">
		<div class="card-header">
			<h3 class="text-center"> Set Time In And Out</h3>
		</div>
		<div class="card-body">
			<p style="text-align:right"> <a href="~/TimeInAndOut/Create" class="btn btn-primary mb-4 mt-4 text-right">Create</a></p>
			<table class="table table-bordered table-striped">
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.CreatedDate)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Days)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.TimeIn)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.TimeOut)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.BranchId)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.DepartmentId)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.WorkingHours)
					</th>
					<th>Action</th>
				</tr>

				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.CreatedDate)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Days)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.TimeIn)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.TimeOut)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Branch.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Department.Name)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.WorkingHours)
						</td>
						<td>
							@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
							<a href="#" id="showModal" class="btn btn-danger" onclick="Confirm(@item.Id)">Delete</a>
						</td>
					</tr>
				}

			</table>
		</div>
	</div>

	<input type="hidden" id="timeDelete" />

	<div class="modal fade" id="deleteModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title"> Confirm</h2>
				</div>
				<div class="modal-body">
					<h4>Are you sure you want to delete?</h4>
				</div>
				<div class="modal-footer">
					@TempData["Time"] 
					<div class="form-group">
						<a href="#" id="btnDelete" class="btn btn-primary">Delete</a>
						<a href="#" id="btnCancel" class="btn btn-primary">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>

@section scripts{
	<script>
		$(document).ready(function () {
			$('#example').DataTable();

			$(document).ready(function () {
				$("#btnCancel").click(function () {
					window.location.href = "/TimeInAndOut/Index";
				});
			});

			$("#btnDelete").click(function () {
				var _id = $("#timeDelete").val();
				console.log($("#timeDelete").val());
				$.ajax({
					type: "POST",
					url: "/TimeInAndOut/Delete",
					data: { id: _id },
					success: function (result) {
						if (result) {
							console.log("succ");
							$("#deleteModal").modal('hide');
							$("#timeDelete").val(null);
							window.location.href = "/TimeInAndOut/Index";
						}
						else {
							alert("Something went wrong");

						}
					}
				});
			});

		});

		var Confirm = function (id) {
			$("#timeDelete").val(id);
			$("#deleteModal").modal('show');
		}
	</script>
}

