@model IEnumerable<FingerPrint.Models.Staff>

@{
    ViewBag.Title = "FingerPrintForm";

}


<div class="page-heading">

    <!-- // Basic multiple Column Form section start -->
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">

                <div class="card">

                    <div class="card-header">
                        <h4 class="card-title">Staff Informations</h4>
                    </div>

                    <!-- <div class="card-content"> -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <table class="table table-bordered table-responsive">
                                    <tbody>
                                            <tr>
                                                <td style="width: 30%"><b>Staff Id</b></td>
                                                    <td>@TempData["StaffId"]</td>
                                              
                                            </tr>
                                            <tr>
                                                <td style="width: 30%"><b>First Name</b></td>
                                                <td>@TempData["FirstName"]</td>
                                            </tr>

                                            <tr>
                                                <td style="width: 30%"><b>LastName</b></td>
                                                <td>@* @Html.DisplayNameFor(model => model.LastName)*@ @TempData["LastName"]</td>
                                               
                                            </tr>
                                            <tr>
                                                <td style="width: 30%"><b>Phone Number</b></td>
                                                <td> @TempData["Phone"]</td>
                                            </tr>
                                        

                                        </tbody>
                                </table>
                            </div>
                            <!-- another table2-->
                            <div class="col-md-6 col-sm-12">
                                <table class="table table-bordered table-responsive">
                                    <tbody>
                                       
                                            <tr>
                                                <td style="width: 30%"><b>Email</b></td>
                                                <td>@TempData["Email"]</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%"><b>Country</b></td>
                                                <td>@TempData["Country"]</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%"><b>Branch</b></td>
                                                <td>@TempData["Branch"]</td>
                                            </tr>
                                            <tr>
                                                <td style="width: 30%"><b>Department</b></td>
                                                <td> @TempData["Department"]</td>
                                            </tr>
                                        
                                        </tbody>
                                </table>
                               @* @error('cardfound')
                                <div class="alert alert-danger p-2">
                                    <span class="">{{ $message }}</span>
                                </div>
                                @enderror*@
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <!--FINGER ENROLL BUTTON-->
                    <div class=" card-footer clearfix ">

						<a >
							@Html.ActionLink("Edit", "Edit", new { id = TempData["Id"] }, new { @class = "btn btn-primary" })
							@*<button type="button" class="btn btn-outline-info mr-2"
									style="background-color:#25396f; color:white">
								Edit
							</button>*@
						</a>

                       

                        <button type="button" class="btn btn-outline-primary block"
                                data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                            Fingerprint Enroll Staff
                        </button>

                        <!-- Vertically Centered modal Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                            <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable"
                                 role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">
                                            please
                                            Capture
                                            your thumb
                                        </h5>
                                        <button type="button" class="close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            <i data-feather="x"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="#"
                                              method="POST">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="mb-1 p-1 imgFinger-wrapper">
                                                            <img id="imgFinger"
                                                                 class="img img-thumbnail"
                                                                 Falt="Finger Image"
                                                                 style="width: 150px; height: 150px " />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="panel">
                                                    <table class="d-none" width="100%">
                                                        <tr class="hide">
                                                            <td>
                                                                <input type="text" value=""
                                                                       id="txtStatus"
                                                                       class="form-control hide" />
                                                            </td>
                                                        </tr>
                                                        <tr class="hide">
                                                            <td>
                                                                Quality:
                                                            </td>
                                                            <td>
                                                                <input type="text" value=""
                                                                       id="txtImageInfo"
                                                                       class="form-control" />
                                                            </td>
                                                        </tr>

                                                        <tr class="hide">
                                                            <td>
                                                                Base64Encoded ISO Template
                                                            </td>
                                                            <td>
                                                                <textarea id="txtIsoTemplate"
                                                                          name="txtIsoTemplate"
                                                                          style="width: 100%; height:50px;"
                                                                          value=""
                                                                          class="form-control"> </textarea>
                                                            </td>
                                                        </tr>
                                                        <tr class="hide">
                                                            <td>
                                                                Base64Encoded ANSI Template
                                                            </td>
                                                            <td>
                                                                <textarea id="txtAnsiTemplate"
                                                                          style="width: 100%; height:50px;"
                                                                          class="form-control"> </textarea>
                                                            </td>
                                                        </tr>
                                                        <tr class="hide">
                                                            <td>
                                                                Base64Encoded ISO Image
                                                            </td>
                                                            <td>
                                                                <textarea id="txtIsoImage"
                                                                          style="width: 100%; height:50px;"
                                                                          class="form-control"> </textarea>
                                                            </td>
                                                        </tr>
                                                        <tr class="hide">
                                                            <td>
                                                                Base64Encoded Raw Data
                                                            </td>
                                                            <td>
                                                                <textarea id="txtRawData"
                                                                          style="width: 100%; height:50px;"
                                                                          class="form-control"> </textarea>
                                                            </td>
                                                        </tr>
                                                        <tr class="hide">
                                                            <td>
                                                                Base64Encoded Wsq Image Data
                                                            </td>
                                                            <td>
                                                                <textarea id="txtWsqData"
                                                                          style="width: 100%; height:50px;"
                                                                          class="form-control"> </textarea>
                                                            </td>
                                                        </tr>
                                                        <tr class="hide">
                                                            <td>
                                                                Encrypted Base64Encoded Pid/Rbd
                                                            </td>
                                                            <td>
                                                                <textarea id="txtPid"
                                                                          style="width: 100%; height:50px;"
                                                                          class="form-control"> </textarea>
                                                            </td>
                                                        </tr>
                                                        <tr class="hide">
                                                            <td>
                                                                Encrypted Base64Encoded Session Key
                                                            </td>
                                                            <td>
                                                                <textarea id="txtSessionKey"
                                                                          style="width: 100%; height:50px;"
                                                                          class="form-control"> </textarea>
                                                            </td>
                                                        </tr>
                                                        <tr class="hide">
                                                            <td>
                                                                Encrypted Base64Encoded Hmac
                                                            </td>
                                                            <td>
                                                                <input type="text" value="" id="txtHmac"
                                                                       class="form-control" />

                                                            </td>
                                                        </tr>
                                                        <tr class="hide">
                                                            <td>
                                                                Ci
                                                            </td>
                                                            <td>
                                                                <input type="text" value="" id="txtCi"
                                                                       class="form-control" />
                                                            </td>
                                                        </tr>
                                                        <tr class="hide">
                                                            <td>
                                                                Pid/Rbd Ts
                                                            </td>
                                                            <td>
                                                                <input type="text" value=""
                                                                       id="txtPidTs"
                                                                       class="form-control" />
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    <div class="modal-footer">

                                                        <input type="hidden" name="user_id"
                                                               value="#">

                                                        <input type="submit" id="btnCapture"
                                                               value="Capture"
                                                               class=" capturebuttonpadding btn btn-primary btn-sm"
                                                               onclick="return Capture()" />

                                                        <button type="reset"
                                                                class="btn btn-light-secondary"
                                                                data-bs-dismiss="modal">
                                                            <i class="bx bx-x d-block d-sm-none"></i>
                                                            <span class="d-none d-sm-block">Close</span>
                                                        </button>

                                                        <button type="submit"
                                                                class="btn btn-primary ml-1" value="submit"
                                                                @*onclick=" return validateform()"*@
                                                                name="submit" id="19">
                                                            Submit
                                                        </button>
                                                    </div>

                                                </div>
                                        </form>
                                    </div>



                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- </div> -->
                </div>
            </div>
        </div>
</div>
            </div>


